






.our-activity{
  padding-bottom: 0;
}

.our-activity__tittle{
font-size: 36px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;
display:block;
margin-bottom: 50px;
}

.activity{
display:flex;
align-items: center;
justify-content: space-between;
gap: 15px;
list-style-type: var(--style-list);
}

.activity__card{
position:relative;
}

.activity__image{
  display:block;
}

.activity__box{
position:absolute;
width:100%;
height: 70px;
background-color:rgba(47, 48, 58, 0.8);
transform:translateY(-100%);
display:flex;
justify-content: center;
align-items: center;
}

.activity__subtitle{
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--primary-color);
}

.team{
padding-bottom: 0;
}

.our-team{
background-color: #F5F4FA; 
height: 708px;
}

.our-team__tittle{
font-size: 36px;
line-height: 1.12;
text-align: center;
letter-spacing: 0.03em;
display:block;
margin-bottom: 50px;
padding-top:94px;
}

.our-team__list{
display:flex;
align-items: center;
justify-content: space-between;
gap: 30px;
list-style-type: var(--style-list);
}

.employee{
background-color: #ffffff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.employee__data{
display:flex;
flex-direction: column;
text-align: center;
padding-top:30px;
padding-bottom: 16px;
gap:10px;
}

.employee__name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.employee__position{
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}


.socialmedia-icon {
 display: flex; 
 gap: 10px;
 align-items: center;
 justify-content: center;
 padding-bottom: 30px;
 list-style-type: var(--style-list);
}

.socialmedia-icon__list{
 display:flex;
 align-items: center;
 justify-content: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
fill: var(--icon-color);
transition:fill 250ms cubic-bezier(.4, 0, 0.2, 1);
background-color: var(--primary-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-icon__list:hover, .socialmedia-icon__list:focus{
  fill:var(--primary-color);
  background-color: var(--brand-color);
}

.container__title{
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom:50px;
}
.customers{
  display:flex;
  text-align: center;
  gap:30px;
  list-style-type: var(--style-list);
}

.customers__icon{
  padding:16px 32px;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icon:focus, 
.customers__icon:hover{
cursor:pointer;
border:1px solid var(--brand-color);
border-radius: 4px;
fill: var(--brand-color);
}

.management{
margin-top:6px;
padding-bottom:0px;
margin-bottom:56px;
}

.management__title{
display:none;
}

.management__list{
display: flex;
align-items: center;
justify-content: space-between;
justify-content: center; 
gap: 8px;
list-style-type: var(--style-list);
}

.management__button{
background-color:#F5F4FA ;
font-family: inherit;
border: 1px solid #F5F4FA;
font-family: inherit;
text-align: center;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;  
padding:6px 22px;
transition:background-color 250ms cubic-bezier(.4, 0, 0.2, 1),
color 250ms cubic-bezier(.4, 0, 0.2, 1);
}

.management__button:hover, .management__button:focus{
background-color: var(--brand-color);
color:var(--primary-color);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
0px 3px 1px 0px rgba(0, 0, 0, 0.1);
border: 1px solid var(--brand-color);
} 

.portfolio{
padding-top:0px;
}

.portfolio__title{
  display:none;
}

.portfolio__list{
display: flex;
align-items:center;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
gap: 30px;
list-style-type: var(--style-list);
}

.card{
flex-basis: calc((100%-60px)/3);
}

.card__part{
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
padding-left: 24px;
padding-right:24px;
}

.card__title{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-align: left;
padding-top:20px;
padding-bottom: 4px;
}

.card__paragraph{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
text-align: left;
padding-bottom: 20px;
}

.card:hover{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
  0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.overlay{
  width: 370px;
  height:294px;
  position:relative;
  overflow: hidden;
}

.overlay__image{
  display:block;
}

.overlay__description{
position:absolute;
width:100%;
height:100%;
background-color: rgba(33, 150, 243, 0.9);;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text{
font-weight: 400;
font-size: 18px;
line-height: 1.55;
letter-spacing: 0.03em;
color:var(--primary-color);
padding:49px 45px 49px 24px;
}

.card:hover .overlay__description{
transform: translateY(-100%);
}

.footer{
padding-top:60px;
padding-bottom: 60px;
display: flex;
background-color:#2F303A;
}

.footer__container{
display: flex;
gap:70px;
}

.logo--sequent{
width: 115px;
height: 31px;
padding-bottom:20px;
}

.logo--bright-theme{
font-family: 'Raleway', sans-serif;
color: var(--primary-color);
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}

.address{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--primary-color);
padding-top:20px;
padding-bottom:9px;
}

.address__list{
display:flex;
flex-direction: column;
gap:9px;
list-style-type: var(--style-list);
}

.address__link{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--primary-color);
color:rgba(255, 255, 255, 0.6);
}

.address__link:hover, .address__link:focus{
color: var(--brand-color);
}

.address__link--underline{
text-decoration-line: underline;
} 

.join{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-color);
margin-bottom: 20px;
padding-top: 12px;
}

.join-us{
display: flex;
gap:10px;
list-style-type: var(--style-list);
}

.join-us__icon{
 display:flex;
 align-items: center;
 justify-content: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
fill: var(--primary-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__icon:hover, .join-us__icon:focus{
background-color: var(--brand-color);
}

.newsletter{
margin-top:10px;
margin-left: 8px;
}

.newsletter__header{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom:10px;
display: flex;
}

.newsletter__box{
  display:flex;
  gap:12px;
}

.newsletter__input{
background-color: transparent;
border-radius: 4px;
border:1px solid rgba(255, 255, 255, 0.3);
color:var(--primary-color);
width: 342px;
height: 50px;
padding-left:16px;
}

.newsletter__input::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.newsletter__button{
background-color: var(--brand-color);
color:var(--primary-color);
cursor:pointer;
border:0;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
display:flex;
align-items:center;
padding:10px 28px 10px 42px;
gap:24px;
}

.newsletter__icon{
  fill:var(--primary-color);
}




